.App {
  padding: 30px;
  display: flex;
  background-color: aliceblue;
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 1px solid gray;
  height: max-content;
  padding: 15px;
  border-radius: 5px;
  background-color: antiquewhite;
}

.task {
  font-weight: bold;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn {
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.activeBtn {
  border: 3px solid #0125b7;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.input-error {
  border: 2px solid red;
  outline: none;
}